<p>
    Datenschutzerklärung
</p>
<p>
    In dieser Datenschutzerklärung erfahren Sie, wie Ihre Daten verarbeitet
    werden und welche Datenschutzrechte Sie haben, wenn Sie Corona Contact
    Tracing Germany benuzten.
</p>
<p>
    Folgende Themen werden behandelt:
</p>
<p>
    <strong>1. Wer ist Herausgeber von Corona Contact Tracing Germany?</strong>
</p>
<p>
    <strong>2. Ist die Nutzung der App freiwillig?</strong>
</p>
<p>
    <strong>3. Auf welcher Rechtsgrundlage werden Ihre Daten verarbeitet?</strong>
</p>
<p>
    <strong>4. An wen richtet sich die App?</strong>
</p>
<p>
    <strong>5. Welche Daten werden verarbeitet?</strong>
</p>
<p>
    <strong>6. Wofür werden Ihre Daten verarbeitet?</strong>
</p>
<p>
    <strong>7. Wie funktioniert das länderübergreifende Warnsystem?</strong>
</p>
<p>
    <strong>8. Welche Berechtigungen benötigt die App?</strong>
</p>
<p>
    <strong>9. Wann werden Ihre Daten gelöscht?</strong>
</p>
<p>
    <strong>10. An wen werden Ihre Daten weitergegeben?</strong>
</p>
<p>
    <strong>11. Werden Ihre Daten in Länder außerhalb der EU übermittelt?</strong>
</p>
<p>
    <strong>12. Wie können Sie Ihr Einverständnis zurücknehmen?</strong>
</p>
<p>
    <strong>13. Welche weiteren Datenschutzrechte haben Sie?</strong>
</p>
<p>
    <strong>14. Datenschutzbeauftragter und Kontakt</strong>
</p>
<p>
    Damit dieser Text für alle Nutzer verständlich ist, bemühen wir uns um eine
    einfache und möglichst untechnische Darstellung.
</p>
<h1>
    1. Wer ist Herausgeber von Corona Contact Tracing Germany?
</h1>
<p>
    Corona Contact Tracing Germany ist eine von einem Team an Freiwilligen
    modifizierte Version der Corona-Warn-App (CWA) vom
    Robert Koch-Institut (<strong>RKI</strong>).
    Das RKI ist für die deutsche Bundesregierung Herausgeber der CWA.
    Corona Contact Tracing Germany verhält sich, was die verarbeiteten Informationen angeht,
    wie die CWA und interagiert mit den Server-Systemen des RKI.
    Das RKI ist dafür verantwortlich, dass Ihre personenbezogenen Daten in
    Übereinstimmung mit den Vorschriften über den Datenschutz verarbeitet werden.
    Unterschiede ergeben sich im Abschnitt 5.b) "COVID-19-Benachrichtigungssystem",
    welches in dieser App integriert ist, und nicht von Google gestellt wird.
</p>
<p>
    Wenn Sie Corona-positiv getestet sind und eine länderübergreifende Warnung
    auslösen, können auch die Nutzer der offiziellen Corona-Apps anderer
    Länder, denen Sie begegnet sind, gewarnt werden. In diesem Fall sind das
    RKI und die zuständigen Gesundheitsbehörden der am länderübergreifenden
    Warnsystem teilnehmenden Länder für die Datenverarbeitung gemeinsam
    verantwortlich. Einzelheiten erfahren Sie unter Punkt 7.
</p>
<h1>
    2. Ist die Nutzung der App freiwillig?
</h1>
<p>
    Die Nutzung der App ist freiwillig. Es ist allein Ihre Entscheidung, ob Sie
    die App installieren, welche App-Funktionen Sie nutzen und ob Sie Daten mit
    anderen teilen. Alle App-Funktionen, die eine Weitergabe Ihrer Begegnungs-
    oder Gesundheitsdaten erfordern, holen vorher Ihr ausdrückliches
    Einverständnis ein. Falls Sie ein Einverständnis nicht erteilen oder
    nachträglich zurücknehmen, entstehen Ihnen keine Nachteile.
</p>
<h1>
    3. Auf welcher Rechtsgrundlage werden Ihre Daten verarbeitet?
</h1>
<p>
    Ihre Daten werden vom RKI grundsätzlich nur verarbeitet, wenn Sie zuvor Ihr
    ausdrückliches Einverständnis erteilt haben. Die Rechtsgrundlage ist Art. 6
    Abs. 1 S. 1 lit. a DSGVO sowie im Falle von Gesundheitsdaten Art. 9 Abs. 2
    lit. a DSGVO. Sie können ein einmal erteiltes Einverständnis jederzeit
    wieder zurücknehmen (sogenanntes Widerrufsrecht). Weitere Informationen zu
    Ihrem Widerrufsrecht finden Sie unter Punkt 12. Die Verarbeitung von
    Zugriffsdaten für den Abruf der täglichen Statistiken (siehe hierzu Punkt 6
    d.) erfolgt im Rahmen der Information der Öffentlichkeit durch das RKI gem.
    § 4 Abs. 4 BGA-NachfG auf Basis von Art. 6 Abs. 1 S. 1 lit e. DSGVO i.V.m §
    3 BDSG.
</p>
<h1>
    4. An wen richtet sich die App?
</h1>
<p>
    Die App richtet sich an Personen, die sich in Deutschland aufhalten und
    mindestens 16 Jahre alt sind.
</p>
<h1>
    5. Welche Daten werden verarbeitet?
</h1>
<p>
    Das gesamte System der App ist so programmiert, dass so wenig
    personenbezogene Daten wie möglich verarbeitet werden. Das bedeutet, dass
    das System bei der Risiko-Ermittlung, der Warnung anderer und dem Abruf des Testergebnisses
    keine Daten erfasst, die es dem RKI oder anderen Nutzern
    ermöglichen, auf Ihre Identität, Ihren Namen, Ihren Standort oder andere
    persönliche Details zu schließen.
</p>
<p>
    Die App verzichtet daher auch grundsätzlich auf
    die Auswertung Ihres Nutzungsverhaltens durch Analyse-Tools. Nur wenn Sie ausdrücklich der
    freiwilligen Datenspende zustimmen, werden bestimmte Daten über Ihre Nutzung der App an das RKI
    übermittelt (siehe hierzu Punkt 5 e.).
</p>
<p>
    Die von der App verarbeiteten Daten lassen sich den folgenden Kategorien
    zuordnen:
</p>
<h2>
    a. Zugriffsdaten
</h2>
<p>
    Bei jedem Internet-Datenaustausch der App mit dem Serversystem des RKI (im
    Folgenden: <strong>Serversystem</strong>) werden vom Serversystem
    sogenannte Zugriffsdaten verarbeitet. Dies ist erforderlich, damit die App
    aktuelle Daten (z. B. für Warnungen) abrufen oder bestimmte auf dem
    Smartphone gespeicherte Daten an das Serversystem übermitteln kann. Die
    Zugriffsdaten umfassen folgende Daten:
</p>
<ul>
    <li>
        IP-Adresse
    </li>
    <li>
        Datum und Uhrzeit des Abrufs
    </li>
    <li>
        übertragene Datenmenge (bzw. Paketlänge)
    </li>
    <li>
        Meldung, ob der Datenaustausch erfolgreich war
    </li>
</ul>
<p>
    Diese Zugriffsdaten werden verarbeitet, um den technischen Betrieb der App
    und des Serversystems aufrechtzuerhalten und abzusichern. Sie werden dabei
    nicht als Nutzer der App persönlich identifiziert und es wird kein
    Nutzungsprofil erstellt. Eine Speicherung der IP-Adresse über das Ende des
    Nutzungsvorgangs hinaus erfolgt nicht.
</p>
<p>
    Um eine unbefugte Zuordnung Ihrer Daten anhand Ihrer IP-Adresse schon
    während eines Nutzungsvorgangs zu verhindern, greift die App nur über einen
    speziellen Eingangsserver auf das Serversystem zu. Der Eingangsserver
    leitet die von der App angeforderten oder übermittelten Daten dann ohne die
    IP-Adresse an den jeweils zuständigen Server weiter, so dass die IP-Adresse
    innerhalb des Serversystems nicht verarbeitet wird.
</p>
<h2>
    b. Begegnungsdaten
</h2>
<p>
    Sobald Sie das COVID-19-Benachrichtigungssystem Ihres Android-Smartphones aktivieren, sendet Ihr Smartphone
    per Bluetooth sogenannte Begegnungsdaten aus, die von anderen Smartphones
    in Ihrer Nähe aufgezeichnet werden können. Umgekehrt empfängt Ihr
    Smartphone auch die Begegnungsdaten von anderen Smartphones. Die
    ausgesendeten Begegnungsdaten umfassen:
</p>
<ul>
    <li>
        zufällige Kennnummern (im Folgenden: <strong>Zufalls-IDs</strong>)
    </li>
    <li>
        Bluetooth-Protokollversion
    </li>
    <li>
        Bluetooth-Sendeleistung in Dezibel Milliwatt (dBm)
    </li>
</ul>
<p>
    Bei aufgezeichneten Begegnungen umfassen die Begegnungsdaten zusätzlich:
</p>
<ul>
    <li>
        Tag, Zeitpunkt und Dauer der Begegnung
    </li>
    <li>
        Bluetooth-Empfangsstärke in dBm
    </li>
</ul>
<p>
    Die Zufalls-IDs werden regelmäßig geändert. Dies trägt dazu bei, dass Ihr
    Smartphone nicht über diese Zufalls-IDs identifiziert werden kann. Die von
    Ihrem Smartphone ausgesendeten eigenen Begegnungsdaten und die
    aufgezeichneten Begegnungsdaten der Personen, mit denen Sie Kontakt hatten,
    werden auf Ihrem Smartphone gespeichert und jeweils nach 14 Tagen gelöscht.
    Auf die gleiche Weise werden Ihre ausgesendeten Begegnungsdaten
    verarbeitet, wenn sie von den Smartphones anderer App-Nutzer aufgezeichnet
    werden.
</p>
<p>
    Bitte beachten Sie: Das COVID-19-Benachrichtigungssystem funktioniert in einem von zwei Modi.
    Wenn microG im System installiert ist wird diese Installation für COVID-19-Benachrichtigungen
    benutzt. Die erhaltenen Zufalls-IDs werden von microG gespeichert und können darüber gelöscht
    werden. Wenn microG nicht installiert ist, wird das interne COVID-19-Benachrichtigungssystem
    verwendet und die Zufalls-IDs werden nur intern in der App gespeichert. Wird die App
    deinstalliert werden alle Daten gelöscht.
</p>
<ul>
    <li>
        Weitere Informationen zur microg Implementierung finden sich über die App 'microG Settings > Exposure Notifications
    </li>
    <li>
        Informationen für die interne Implementierung können über App-Informationen > ENF Version: XXXXXXXXXXX
        aufgerufen werden.
    </li>
</ul>
<h2>
    c. Gesundheitsdaten
</h2>
<p>
    Gesundheitsdaten sind alle Daten, die Informationen zum Gesundheitszustand
    einer Person enthalten. Dazu gehören nicht nur Angaben zu früheren und
    aktuellen Krankheiten, sondern auch zu Krankheitsrisiken einer Person (z.
    B. das Risiko, dass eine Person sich mit dem Coronavirus angesteckt hat).
    Die App verarbeitet Gesundheitsdaten in folgenden Fällen:
</p>
<ul>
    <li>
        wenn eine Risiko-Begegnung erkannt wird
    </li>
    <li>
        wenn Sie über die App ein Testergebnis abrufen
    </li>
    <li>
        wenn Sie Ihre Begegnungen über die App vor einer möglichen Ansteckung
        warnen
    </li>
    <li>
        wenn Sie Angaben zum Beginn von eventuellen Corona-Symptomen machen
    </li>
</ul>
<p>
    Die Einzelheiten werden unter Punkt 6 erläutert.
</p>
<h2>
    d. Einträge im Kontakt-Tagebuch
</h2>
<p>
    Wenn Sie im Kontakt-Tagebuch notieren, wann und wo Sie welche Personen getroffen haben, werden
    diese Angaben verschlüsselt auf Ihrem Smartphone gespeichert. Die Kontakt-Tagebuch-Einträge
    dienen nur Ihnen als Gedächtnisstütze. Das RKI oder andere Stellen können auf die Einträge im
    Kontakt-Tagebuch nicht zugreifen. Das Kontakt-Tagebuch kann Ihnen helfen, Ihre persönlichen
    Kontakte der letzten 14 Tage nachzuvollziehen. Falls Sie Corona-positiv getestet werden sollten
    und das Gesundheitsamt Ihre Mithilfe bei der Kontaktnachverfolgung erbittet, können Sie dem
    Gesundheitsamt somit schnell die benötigten Informationen mitteilen.
</p>
<p>
    Die Nutzung des Kontakt-Tagebuchs ist freiwillig. Sie entscheiden selbst über die Speicherung
    der Einträge im Kontakt-Tagebuch. Sie sind insofern auch selbst für Ihre Einträge
    verantwortlich. Respektieren Sie daher bitte die Privatsphäre der Personen, die Sie in Ihr
    Kontakt-Tagebuch aufnehmen. Die Einträge sollen nicht an Dritte und nicht über unsichere
    Kommunikationskanäle weitergegeben werden. Das zuständige Gesundheitsamt wird Ihnen mitteilen,
    welche Informationen es für die Kontaktnachverfolgung von Ihnen benötigt und wie Sie diese zur
    Verfügung stellen können.
</p>
<h2>
    e. Nutzungsdaten (Datenspende)
</h2>
<p>
    Wenn Sie die Datenspende aktivieren, übermittelt die App bestimmte Daten über Ihre App-Nutzung
    einmal täglich an das RKI (im Folgenden: Nutzungsdaten). Diese Nutzungsdaten betreffen die von
    der App angezeigten Risiko-Begegnungen, erhaltene und ausgelöste Warnungen, abgerufene
    Testergebnisse sowie technische Angaben über das Betriebssystem Ihres Smartphones. Im Einzelnen
    umfassen die Nutzungsdaten:

</p>
<ul>
    <li>Das Datum der Datenspende (d. h. der Tag der Übermittlung).</li>
    <li>Änderungen der Warnungshistorie im Vergleich zum Vortag.</li>
    <li>Welcher Risikostatus zum Zeitpunkt der Datenspende angezeigt wurde.</li>
    <li>Angaben dazu, auf welcher Grundlage welcher Begegnungen der Risikostatus in Zusammenhang mit
        einer Begegnung
        berechnet wurde.
    </li>
    <li>Angaben zum Modell und der Version Ihres Smartphones und zur Version Ihrer App sowie dem
        verwendeten Betriebssystem.
    </li>
</ul>
<p>
    Wenn Sie ein Testergebnis über die App abgerufen haben:
</p>
<ul>
    <li>Ob es sich um ein positives oder negatives Testergebnis handelt.</li>
    <li>Welches Risiko zum Zeitpunkt der Testregistrierung angezeigt wurde.</li>
    <li>Wieviel Zeit seit der letzten Risiko-Begegnung und deren Anzeige in der App bis zur
        Testregistrierung jeweils vergangen ist
    </li>
    <li>Ob Sie die Funktion zum Auslösen einer Warnung gestartet haben und, falls ja, bis zu welchem
        Schritt Sie dabei gekommen sind (z. B. bis zur Symptomabfrage).
    </li>
</ul>
<p>
    Wenn Sie eine Warnung ausgelöst haben:
</p>
<ul>
    <li>Ob Sie Angaben zum Symptombeginn gemacht haben.</li>
    <li>Wann Sie Ihr Einverständnis zur Warnung anderer erteilt haben (vor oder nach der
        Testregistrierung).
    </li>
    <li>Ob Sie den Warnprozess bis zum Ende vollständig durchlaufen haben oder ob Sie den Prozess
        vorher abgebrochen haben (etwa weil Sie nicht die Bestätigung der erfolgreichen Übermittlung
        Ihrer Daten abgewartet haben).
    </li>
    <li>Wie viele Stunden es gedauert hat, bis Sie Ihr Testergebnis nach der Testregistrierung
        erhalten haben.
    </li>
    <li>Wie viele Tage seit der letzten Mitteilung eines hohen Risikos vor Auslösen der Warnung
        vergangen sind.
    </li>
    <li>Wie viele Stunden seit der Testregistrierung vergangen sind.</li>
</ul>
<p>
    Zusätzlich können Sie weitere freiwilligen Angaben zu Ihrer Region sowie zu Ihrer Altersgruppe
    machen, die zusammen mit den Nutzungsdaten an das RKI übermittelt werden.
</p>
<p>
    Das RKI wird die Nutzungsdaten und eventuelle optionale Angaben zu anonymisierten Statistiken
    zusammenfassen und auswerten, um die Wirksamkeit und Funktionsweise der App zu bewerten und
    Rückschlüsse auf das Pandemiegeschehen zu ziehen.
</p>
<p>
    Die Teilnahme an der Datenspende ist freiwillig. Die Aktivierung der Datenspende setzt die
    Bestätigung der Echtheit Ihrer App voraus (Beachten Sie bitte die weiteren Informationen hierzu
    unter Punkt 5 h. und Punkt 11).
</p>
<h2>
    f. Inhalte der Fehlerberichte
</h2>
<p>
    Um den technischen Support der App bei der Fehleranalyse zu unterstützen, können Sie in der App
    einen Fehlerbericht aufzeichnen. Wenn Sie die Aufzeichnung des Fehlerberichts starten, werden
</p>
<ul>
    <li>Ihre Bedienschritte in der App,</li>
    <li>die technischen Schritte und Abläufe sowie Statusmeldungen
        <ul>
            <li>zur Risiko-Ermittlung (z.B. zur Funktionsweise der Verarbeitung der Begegnungsdaten,
                der Berechnung des Ansteckungsrisikos, der Aktualisierung der Positiv-Listen, der
                Anzeige des errechneten Risikostatus),
            </li>
            <li>zum Abruf und der Anzeige von Testergebnissen und</li>
            <li>zu möglichen Vorgängen zur Warnung Anderer (z.B. die Berechnung von
                Übertragungsrisiko-Werten und die technische Bereitstellung Ihrer Zufalls-IDs durch
                Ihr Smartphone)
            </li>
        </ul>
    </li>
</ul>
<p>
    umfassend aufgezeichnet und auf Ihrem Smartphone gespeichert. Im Fehlerbericht können auch
    Gesundheitsdaten enthalten sein, weil auch die technischen Schritte und Abläufe im Zusammenhang
    mit der Erkennung einer Risiko-Begegnung aufgezeichnet werden.
</p>
<p>
    Der Fehlerbericht enthält jedoch keine Informationen über QR-Codes für die Testregistrierung,
    das in Ihrer App gespeicherte Token (siehe dazu oben Punkt 6 b. unter „Testergebnis abrufen“)
    und Einträge in Ihrem Kontakt-Tagebuch. Der Fehlerbericht enthält auch nicht Ihren Namen oder
    andere Angaben, mit denen Sie vom RKI identifiziert werden können.
</p>
<p>
    Sie können die Aufzeichnung des Fehlerberichts jederzeit stoppen und den Fehlerbericht löschen.
    Wenn Sie sich entscheiden, den Fehlerbericht mit dem RKI zu teilen, erhalten Sie über die App
    eine Kennung zu Ihrem Fehlerbericht (Fehlerbericht-ID). Mit der Fehlerbericht-ID ermöglichen Sie
    dem RKI die Zuordnung Ihres Fehlerberichts zu weiteren Informationen, die Sie dem technischen
    Support gesondert mitteilen, z.B. wenn Sie noch eine Fehlerbeschreibung per E-Mail bereitstellen
    möchten. Wenn Sie dem technischen Support Ihre Fehlerbericht-ID mitteilen, kann anhand dieser
    weiteren Informationen möglicherweise eine Verbindung zu Ihrer Person hergestellt werden.
</p>
<p>
    Die Erstellung und Übersendung eines Fehlerberichts an das RKI ist freiwillig. Sie entscheiden
    selbst darüber, ob Sie einen Fehlerbericht aufzeichnen möchten und diesen an den technischen
    Support der App übersenden. Die Übersendung des Fehlerberichts setzt die Bestätigung der
    Echtheit Ihrer App voraus (Beachten Sie bitte die weiteren Informationen hierzu unter Punkt 5 h.
    und Punkt 11).
</p>
<h2>
    g. Teilnahme an einer Befragung
</h2>
<p>
    Einigen Nutzern wird in der App die Teilnahme an einer Befragung des RKI angeboten. In der Regel
    wird das Angebot zur Teilnahme an der Befragung abhängig von bestimmten in der App registrierten
    Ereignissen sein (z.B. der Anzeige eines erhöhten Risikos). Mit der Teilnahme an der Befragung
    helfen Sie dem RKI, die Wirksamkeit der App zu bewerten, die App zu verbessern und
    beispielsweise zu verstehen, ob und wie Warnungen über die App dabei helfen, weitere
    Ansteckungen zu verhindern.
</p>
<p>
    Die Teilnahme an den Befragungen ist freiwillig. Sie entscheiden selbst darüber, ob Sie an einer
    Befragung teilnehmen möchten und Daten hierfür an das RKI übermittelt werden sollen. Die
    Befragungen finden auf einer Webseite außerhalb der App statt, auf die Sie weitergeleitet
    werden. Die Teilnahme an einer Befragung setzt die Bestätigung der Echtheit Ihrer App voraus
    (Beachten Sie bitte die weitere Informationen hierzu unter Punkt 5 g. und Punkt 11).
</p>
<h2>
    h. Bestätigung der Echtheit Ihrer App
</h2>
<p>
    Einige Funktionen der App setzen voraus, dass vorab die Echtheit Ihrer App geprüft und gegenüber
    dem RKI bestätigt wird. Die Echtheitsprüfung dient insbesondere dazu, festzustellen, ob Sie eine
    manipulierte oder gefälschte („unechte“) Version der App verwenden. Für die Echtheitsprüfung
    wird eine Funktion des Betriebssystems genutzt. Ihr Smartphone erzeugt dabei eine eindeutige
    Kennung und sendet diese an den Hersteller Ihres Betriebssystems (wenn Sie ein
    Android-Smartphone verwenden, werden Daten an Google übermittelt; wenn Sie ein iPhone verwenden,
    werden Daten an Apple übermittelt). Die Kennung enthält Informationen über die Version Ihres
    Smartphones und die Version der App. Möglicherweise kann der Anbieter Ihres Betriebssystems
    anhand der Kennung auf Ihre Identität schließen und nachvollziehen, dass die Echtheitsprüfung
    Ihres Smartphones stattgefunden hat. Weitere Angaben aus der App, z.B. Begegnungsdaten, erhält
    der Anbieter Ihres Betriebssystems nicht. Die Anbieter des Betriebssystems nutzen die Kennung,
    um die Echtheit Ihrer App gegenüber dem RKI zu bestätigen. Die Nutzung der Funktion zur
    Bestätigung der Echtheit ist freiwillig. Wenn Sie mit der Bestätigung der Echtheit Ihrer App
    nicht einverstanden sind, kann es jedoch sein, dass Ihnen andere Funktionen der App nicht zur
    Verfügung stehen.
</p>
<h1>
    6. Wofür werden Ihre Daten verarbeitet?
</h1>
<h2>
    a. Risiko-Ermittlung
</h2>
<p>
    Die Risiko-Ermittlung ist eine Hauptfunktion der App. Sie dient dazu, Sie
    bei möglichen Begegnungen mit Corona-positiv getesteten Personen
    (Risiko-Begegnungen) länderübergreifend zu warnen, Ihr persönliches
    Ansteckungsrisiko zu bewerten und Ihnen Verhaltens- und Gesundheitshinweise
    zu geben.
</p>
<p>
    Hierzu ruft die App vom Serversystem mehrmals täglich eine aktuelle Liste
    mit den Zufalls-IDs und eventuellen Angaben zum Symptombeginn von Nutzern
    ab, die Corona-positiv getestet wurden und über die offizielle Corona-App
    eines am länderübergreifenden Warnsystem teilnehmenden Landes (siehe hierzu
    Punkt 7) eine Warnung ausgelöst haben (im Folgenden: <strong>Positiv-Liste</strong>). Die
    Zufalls-IDs in der Positiv-Liste
    enthalten zusätzlich einen Übertragungsrisiko-Wert und eine Angabe zur Art
    der Diagnose (siehe hierzu Punkt 6 c.).
</p>
<p>
    Die App gibt die Zufalls-IDs aus der Positiv-Liste an das
    COVID-19-Benachrichtigungssystem weiter, welches diese mit den
    aufgezeichneten Zufalls-IDs Ihrer Begegnungen abgleicht. Wenn das
    COVID-19-Benachrichtigungssystem dabei eine Übereinstimmung feststellt,
    übergibt es der App die zu der jeweiligen Risiko-Begegnung aufgezeichneten
    Begegnungsdaten. Diese Begegnungsdaten und die Angaben in der Positiv-Liste
    (Übertragungsrisiko-Wert, Angaben zum Symptombeginn) werden von der App
    bewertet, um Ihr Ansteckungsrisiko zu ermitteln. Die Regeln für die
    Bewertung dieser Informationen (beispielsweise welchen Einfluss die Dauer
    eines Kontakts auf das Ansteckungsrisiko hat) basieren auf den aktuellen
    wissenschaftlichen Erkenntnissen des RKI. Bei neuen Erkenntnissen kann das
    RKI die Bewertungsregeln aktualisieren, indem die Bewertungs-Einstellungen
    der App angepasst werden. Die neuen Bewertungs-Einstellungen werden in
    diesem Fall zusammen mit der Positiv-Liste an die App übermittelt.
</p>
<p>
    Das Ansteckungsrisiko wird ausschließlich offline in der App berechnet und
    weder an das COVID-19-Benachrichtigungssystem noch an sonstige Empfänger
    (auch nicht an das RKI, andere Gesundheitsbehörden in Deutschland oder
    anderen Ländern, Apple, Google und sonstige Dritte) weitergegeben.
</p>
<p>
    Sollte für Sie ein Ansteckungsrisiko ermittelt werden, wird dies in der App angezeigt. Sollte
    ein erhöhtes Risiko angezeigt werden, bedeutet dies, dass Sie eine oder mehrere Begegnungen mit
    anderen Nutzern hatten, die später Corona-positiv getestet wurden und eine Warnung ausgelöst
    haben. Das für die letzten 14 Tage jeweils berechnete Risiko wird Ihnen in der Kalenderansicht
    des Kontakt-Tagebuchs angezeigt. Bitte vermeiden Sie falsche Rückschlüsse auf die Quelle des
    Risikos: Ein für einen Tag berechnetes und angezeigtes Risiko kann auf eine unbemerkte Begegnung
    mit Ihnen unbekannten Nutzern zurückgehen und muss nicht im Zusammenhang mit den von Ihnen im
    Kontakt-Tagebuch eingetragenen Personen oder Orten stehen.
</p>
<h2>
    b. Testergebnis abrufen
</h2>
<p>
    Wenn Sie einen Corona-Test gemacht haben, können Sie Ihr Testergebnis über
    die App abrufen. Die App benachrichtigt Sie, sobald Ihr Testergebnis
    vorliegt. Dies setzt voraus, dass das Testlabor an das Serversystem
    angeschlossen ist und Sie im Rahmen der Testdurchführung gesondert Ihr
    Einverständnis zur Übermittlung Ihres Testergebnisses erteilt haben.
    Testergebnisse von Laboren, die nicht an das Serversystem der App
    angeschlossen sind, können nicht angezeigt werden. Wenn Sie keinen QR-Code
    erhalten haben, können Sie diese Funktion ebenfalls nicht nutzen.
</p>
<p>
    <u>Scan des QR-Codes</u>
</p>
<p>
    Damit Sie das Testergebnis per App abrufen können, müssen Sie den QR-Code
    mit der Kamera Ihres Smartphones scannen. Der QR-Code enthält eine
    Kennzahl, die beim Scannen ausgelesen wird und Ihrem Test zugeordnet ist.
    Die ausgelesene Kennzahl wird von der App gehasht. Das bedeutet, dass die
    Kennzahl nach einem bestimmten mathematischen Verfahren so verfremdet wird,
    dass sie nicht mehr erkennbar ist. Die eindeutige Zuordnung der gehashten
    Kennzahl zu Ihrem Testergebnis ist aber weiterhin möglich. Sobald Ihr
    Smartphone eine Verbindung zum Internet hat, wird die gehashte Kennzahl von
    der App an das Serversystem übermittelt. Das Serversystem stellt sodann
    einen digitalen Zugangsschlüssel (ein sogenanntes Token) zur Verfügung, der
    in der App gespeichert wird. Das Token ist auf dem Serversystem mit der
    gehashten Kennzahl verknüpft. Die App löscht nun die auf Ihrem Smartphone
    gehashte Kennzahl und behält nur das Token. Der QR-Code ist damit
    verbraucht (ungültig), das heißt er kann von niemanden mehr verwendet
    werden. So ist sichergestellt, dass Ihr QR-Code von keinem anderen Nutzer
    für die Abfrage des Testergebnisses verwendet werden kann.
</p>
<p>
    <u>Hinterlegung des Testergebnisses</u>
</p>
<p>
    Sobald Ihr Testergebnis vorliegt, wird es vom Labor nur unter Angabe der
    gehashten Kennzahl in der vom RKI betriebenen Testergebnis-Datenbank
    hinterlegt. Die Testergebnis-Datenbank befindet sich auf einem speziellen
    Server innerhalb des Serversystems. Das Labor erzeugt die gehashte Kennzahl
    auf Basis des gleichen QR-Codes, den auch Sie erhalten haben.
</p>
<p>
    <u>Abruf des Testergebnisses</u>
</p>
<p>
    Die App fragt bei dem Serversystem unter Verwendung des in der App
    gespeicherten Tokens regelmäßig den Status Ihres Tests ab. Das Serversystem
    teilt der App dann den aktuellen Status (Ergebnis liegt noch nicht vor /
    Ergebnis liegt vor) mit. Sobald Ihr Testergebnis vorliegt, wird auch der
    Befund (Corona-positiv oder Corona-negativ) an die App übermittelt. Falls
    Sie die Mitteilungen zum Teststatus aktiviert haben (unter „Einstellungen“
    &gt; „Mitteilungen“), erhalten Sie eine Benachrichtigung. Das Testergebnis
    wird erst angezeigt, wenn Sie die App öffnen.
</p>
<p>
    Wenn Sie Corona-positiv getestet wurden, fordert die App bei dem
    Serversystem unter erneuter Verwendung des Tokens eine TAN
    (Transaktionsnummer) an. Die TAN wird benötigt, um sicherzustellen, dass
    keine Falschwarnungen an andere Nutzer ausgegeben werden. Das Serversystem
    ordnet hierfür das Token wieder der gehashten Kennzahl zu und fordert von
    der Testergebnis-Datenbank eine Bestätigung an, dass zu der gehashten
    Kennzahl tatsächlich ein positives Testergebnis vorliegt. Sofern dies
    bestätigt wird, erzeugt das Serversystem die TAN und übermittelt sie an die
    App. Eine Kopie der TAN verbleibt auf dem Serversystem.
</p>
<h2>
    c. Andere warnen
</h2>
<p>
    Wenn Sie Corona-positiv getestet sind und Ihre Zufalls-IDs mit der App
    teilen, können andere Nutzer dieser oder einer anderen offiziellen
    Corona-App, denen Sie begegnet sind, länderübergreifend gewarnt werden. In
    diesem Fall übermittelt die App folgende Daten an das Serversystem:
</p>
<ul>
    <li>
        Ihre eigenen Zufalls-IDs der letzten 14 Tage
    </li>
    <li>
        eventuelle Angaben zum Symptombeginn
    </li>
    <li>
        Ihre TAN (siehe Punkt 6 b.)
    </li>
</ul>
<p>
    Vor der Weitergabe Ihres Testergebnisses (genauer gesagt: der Übermittlung
    Ihrer Zufalls-IDs) an das Serversystem fügt die App den Daten einen
    Übertragungsrisiko-Wert und eine Angabe zur Art der durchgeführten Tests
    hinzu. Da die Warnfunktion der App nur bei im Labor bestätigten
    Testergebnissen genutzt werden kann, ist die Art des Tests für alle Nutzer
    gleich. Der Übertragungsrisiko-Wert ist ein Schätzwert zur
    Ansteckungswahrscheinlichkeit an den einzelnen Tagen des 14-Tage-Zeitraums.
    Da die Ansteckungswahrscheinlichkeit von der Dauer und dem Verlauf der
    Infektion abhängt, kann so beispielsweise berücksichtigt werden, dass am
    Tag einer Risiko-Begegnung die Gefahr einer Ansteckung in der Regel je
    geringer ist, desto mehr Zeit seit Symptombeginn verstrichen ist. Diese
    zusätzlichen Übertragungsrisiko-Werte ermöglichen eine genauere Bestimmung
    der Ansteckungswahrscheinlichkeit für andere Nutzer.
</p>
<p>
    Die in der App abgefragten Angaben zum Symptombeginn sind optional. Diese
    Angaben können jedoch helfen, den Übertragungsrisiko-Wert noch genauer zu
    berechnen. Wenn Sie keine Angaben machen, werden die
    Übertragungsrisiko-Werte unter Annahme eines typischen Infektionsverlaufs
    berechnet, das heißt je mehr Zeit seit Verwendung einer Zufalls-ID
    vergangen ist, desto kleiner ist der zugehörige Übertragungsrisiko-Wert.
</p>
<p>
    <u>Wenn Sie Ihr Testergebnis nicht in der App abgerufen haben:</u>
</p>
<p>
    Auch wenn Sie Ihr positives Testergebnis nicht in der App abgerufen haben,
    können Sie Ihre Mitmenschen warnen. Wählen Sie hierzu das Verfahren „TAN
    anfragen“. Die App fordert Sie dann auf, die Hotline der App anzurufen. Ein
    Hotline-Mitarbeiter wird Ihnen dann einige Fragen stellen, um
    sicherzugehen, dass Sie tatsächlich Corona-positiv getestet worden sind.
    Damit soll verhindert werden, dass versehentlich oder absichtlich
    Falschwarnungen ausgelöst werden. Nach ausreichender Beantwortung dieser
    Fragen werden Sie nach Ihrer Handy-/Telefonnummer und Ihrem Namen gefragt.
    Dies dient dazu, Sie später zurückrufen zu können, um Ihnen eine sogenannte
    TeleTAN zur Eingabe in der App mitzuteilen. Ihre Handy-/Telefonnummer und
    Ihr Name werden nur zu diesem Zweck vorübergehend gespeichert und
    spätestens nach einer Stunde gelöscht. Unmittelbar nach Ihrem Anruf wird
    der Hotline-Mitarbeiter über einen speziellen Zugang zum Serversystem eine
    einmalige TeleTAN erzeugen und Sie zurückrufen, um Ihnen diese mitzuteilen.
    Eine TeleTAN ist nur eine Stunde gültig und wird daher unmittelbar nach der
    Weitergabe an Sie, spätestens aber nach Ablauf einer Stunde, von der
    Hotline gelöscht. Nach Eingabe einer gültigen TeleTAN in der App wird diese
    an das Serversystem übermittelt. Anhand der TeleTAN wird somit die
    Überprüfung ermöglicht, dass tatsächlich ein positives Testergebnis
    vorliegt und Falschmeldungen können vermieden werden. Anschließend erhält
    die App vom Serversystem einen Token, wie dies auch nach dem Scan eines
    gültigen QR-Codes der Fall ist (siehe oben Punkt 6 b. unter „Testergebnis
    abrufen“).
</p>
<p>
    Bitte beachten Sie, dass Ihre Warnung in seltenen Fällen dazu führen kann, dass Personen in
    Ihrem persönlichen Umfeld, die die App nutzen und gewarnt werden, unter Umständen darauf
    schließen können, dass Sie die Warnung abgegeben haben. Dies kann der Fall sein, wenn eine
    Person in Ihrem persönlichen Umfeld an dem Tag, an dem die Risiko-Begegnung angezeigt wird,
    außer mit Ihnen keine anderen Kontakte hatte.
</p>
<h2>
    d. Informatorische Nutzung der App
</h2>
<p>
    Die täglichen Statistiken, die in der App erscheinen, erhält die App
    automatisch über das Serversystem. Dabei fallen Zugriffsdaten an. In der
    App verlinkte Webseiten, z. B.: <u>www.bundesregierung.de</u>, werden im
    Standard-Browser (Android-Smartphones) oder in der App (iPhones) geöffnet
    und angezeigt. Welche Daten dabei verarbeitet werden, wird von den
    jeweiligen Anbietern der aufgerufenen Webseite festgelegt.
</p>
<h2>
    e. Kontakt-Tagebuch
</h2>
<p>
    Das Kontakt-Tagebuch ist eine Zusatzfunktion der App. Ihre Einträge im Kontakt-Tagebuch dienen
    Ihnen als Gedächtnisstütze und sind nur Ihnen zugänglich. Falls Sie zu einem späteren Zeitpunkt
    Corona-positiv getestet werden sollten und das Gesundheitsamt Ihre Mithilfe bei der
    Kontaktnachverfolgung erbittet, können Sie dem Gesundheitsamt so schneller die für die
    Kontaktnachverfolgung benötigen Informationen mitteilen. Die Anzeige des für Sie berechneten
    Risikos an den einzelnen Tagen kann Ihnen helfen, Ihre Kontaktpersonen oder Personen, die Sie
    begleitet haben, frühzeitig zu warnen, wenn für Sie ein erhöhtes Risiko an einem bestimmten Tag
    festgestellt wurde. Dadurch können auch Ihre Kontaktpersonen ihr eigenes Kontaktverhalten ggf.
    anpassen und so weitere Ansteckungen in ihrem Umfeld durch eventuell noch unerkannte
    Ansteckungen verhindern.
</p>
<h2>
    f. Datenspende
</h2>
<p>
    Die Datenspende ist eine Zusatzfunktionen der App. Die im Rahmen der Datenspende an das RKI
    übermittelten Nutzungsdaten und weiteren freiwilligen Angaben dienen der Bewertung der
    Wirksamkeit der App und sie werden ausgewertet, um folgende Verbesserungen zu ermöglichen:
</p>
<ul>
    <li>
        Verbesserung der Risiko-Ermittlung – Die Genauigkeit und Zuverlässigkeit der technischen
        Berechnung der Ansteckungsrisiken sollen verbessert werden. Hierfür werden Angaben über
        Risiko-Begegnungen und Ihnen angezeigte Warnungen ausgewertet. In der Folge kann die
        Berechnungsmethode verfeinert werden.
    </li>
    <li>
        Verbesserung der Nutzerführung in der App – Die Bedienung der App soll erleichtert werden.
        Hierfür werden Angaben über die einzelnen Schritte ausgewertet, die Nutzer in der App
        vornehmen. So können Beschriftungen und Hinweistexte klarer gestaltet und Bedienelemente so
        platziert werden, dass sie besser gefunden werden können. Außerdem können Darstellungen für
        verschiedene Smartphone-Modelle angepasst werden.
    </li>
    <li>
        Informationen und Hilfestellungen zur App ermöglichen – Es soll möglich werden, zu erkennen,
        ob es z.B. bei der Nutzung der App im Zusammenhang mit bestimmten Testeinrichtungen und
        Laboren oder in bestimmten Regionen zu Problemen kommt. Dies kann festgestellt werden, wenn
        aufgrund der Datenspende auffällt, dass in bestimmten Regionen Testergebnisse verspätet zur
        Verfügung stehen. So können die zuständigen Gesundheitsbehörden auch gezielt auf mögliche
        technische Störungen hingewiesen werden.
    </li>
    <li>
        Verbesserung der Statistiken über den Pandemieverlauf – Die Daten können Aufschluss über die
        zeitliche und räumliche Verteilung bestimmter Ereignisse des Pandemieverlaufs geben und es
        ermöglichen, auf bestimmte Entwicklungen schneller zu reagieren.
    </li>
</ul>
<p>
    Die Nutzungsdaten und die weiteren freiwilligen Angaben werden ohne jeden Zusammenhang mit Ihrem
    Namen oder Ihrer Identität gespeichert und ausgewertet. Das RKI erfährt also nicht, wer Sie sind
    oder wen Sie getroffen haben.
</p>
<h2>
    g. Fehlerberichte
</h2>
<p>
    Das RKI ist bemüht, eine fehlerfreie App anzubieten. Aufgrund der großen Anzahl verschiedener
    Systeme kann dies jedoch nicht immer gewährleistet werden. Um den technischen Support der App
    bei der Fehleranalyse zu unterstützen, können Sie den in Ihrer App erstellten Fehlerbericht an
    das RKI übermitteln. Das RKI wird den Fehlerbericht auswerten, um die Ursache der in Ihrer App
    auftretenden Fehler erkennen und beseitigen zu können.
</p>
<p>
    Die Fehlerberichte werden ohne jeden Zusammenhang mit Ihrem Namen oder Ihrer Identität
    vorübergehend gespeichert und im Rahmen der Fehleranalyse ausgewertet. Das RKI erfährt also
    nicht, wer Sie sind oder wen Sie getroffen haben. Beachten Sie bitte, dass sich Hinweise auf
    Ihre Identität ergeben können, wenn Sie dem technischen Support Ihre Fehlerbericht-ID unter
    Offenlegung Ihrer Identität (z. B. per E-Mail) mitteilen.
</p>
<h2>
    h. Befragungen
</h2>
<p>
    Befragungen finden auf einer Webseite außerhalb der App statt, auf die Sie weitergeleitet
    werden. In Zusammenhang mit Befragungen werden durch die App keine Daten an das RKI übermittelt.
    Welche Zwecke mit einer Befragung durch das RKI verfolgt werden, ist in den Informationen zur
    Befragung auf der Befragungs-Webseite beschrieben.
</p>
<h2>
    i. Bestätigung der Echtheit Ihrer App
</h2>
<p>
    Zur Bestätigung der Echtheit Ihrer App wird eine Funktion des Betriebssystems Ihres Smartphones
    genutzt. Damit kann sichergestellt werden, dass nur Nutzer der App an der Datenspende oder an
    Befragungen teilnehmen, deren App ordnungsgemäß funktioniert. Auf diese Weise wird
    sichergestellt, dass die Statistiken und Befragungsergebnisse nicht verfälscht werden.
</p>
<p>
    Bitte beachten Sie, dass der Anbieter Ihres Betriebssystems möglicherweise nachvollziehen kann,
    dass die Echtheitsprüfung Ihres Smartphones stattgefunden hat und dadurch auf Ihre Identität
    schließen kann. Weiteren Angaben über Ihre Nutzung der Corona-Warn-App erhält der Anbieter Ihres
    Betriebssystems jedoch nicht.
</p>
<h1>
    7. Wie funktioniert das länderübergreifende Warnsystem?
</h1>
<p>
    Damit auch Nutzer von den offiziellen Corona-Apps anderer Länder gewarnt
    werden, hat das RKI zusammen mit mehreren in anderen Ländern für
    Gesundheitsaufgaben zuständigen amtlichen Stellen und Behörden (im
    Folgenden: <strong>Gesundheitsbehörden</strong>) zentrale Warnserver
    zum länderübergreifenden Austausch von Warnungen (im Folgenden:
    <strong>Austausch-Server</strong>) eingerichtet.
</p>
<ul>
    <li>Der Austausch-Server der teilnehmenden Länder unter den europäischen Mitgliedstaaten nutzt
        die digitale Infrastruktur des zwischen den Mitgliedsstaaten und der EU eingerichteten
        Netzwerks für elektronische Gesundheitsdienste.
    </li>
    <li>Damit auch Warnungen zwischen Nutzern der Schweizer Corona-App und der Corona-Warn-App
        möglich sind, betreibt das RKI zudem gemeinsam mit der Schweiz (Bundesamt für Gesundheit der
        Schweizerischen Eidgenossenschaft) einen weiteren Austausch-Server.
    </li>
</ul>
<p>
    Die nationalen Serversysteme der an den Austausch-Servern angebundenen Corona-Apps übermitteln
    ihre eigenen Positiv-Listen regelmäßig an die Austausch-Server und erhalten die Positiv-Listen
    der anderen Länder.
</p>
<p>
    Das jeweilige Serversystem führt die erhaltenen Positiv-Listen mit der eigenen Positiv-Liste
    zusammen, so dass die Risiko-Ermittlung auch Risiko-Begegnungen mit Nutzern einer anderen
    Corona-App berücksichtigen kann (siehe Ziffer 6 c.). Die anderen teilnehmenden Länder verfahren
    entsprechend mit den vom RKI bereitgestellten Positiv-Listen.
</p>
<p>
    An den Austausch-Servern können nur Länder teilnehmen, deren Corona-Apps zueinander kompatibel
    sind und die ein vergleichbar hohes Datenschutzniveau gewährleisten. Dies setzt insbesondere
    voraus, dass die Corona-Apps der teilnehmenden Länder ebenfalls das
    COVID-19-Benachrichtigungssystem nutzen, von der jeweiligen nationalen Gesundheitsbehörde
    zugelassen sind und die Privatsphäre ihrer Nutzer wahren.
</p>
<ul>
    <li>Die technischen und organisatorischen Einzelheiten der Zusammenarbeit betreffend den
        innerhalb der EU betriebenen Austausch-Server werden in einem Beschluss der EU-Kommission
        festgelegt (Durchführungsbeschluss (EU) 2020/1023 vom 15. Juli 2020, abrufbar unter <a
                href="https://eur-lex.europa.eu/eli/dec_impl/2020/1023/oj">
            https://eur-lex.europa.eu/eli/dec_impl/2020/1023/oj
        </a>. Für die Verarbeitung der in den Positiv-Listen enthaltenen Angaben (Zufalls-IDs und
        eventuelle Angaben zum Symptombeginn) auf den Austausch-Servern zur Ermöglichung der
        länderübergreifenden Risiko-Ermittlung und Warnung ist das RKI danach mit den jeweils
        zuständigen Gesundheitsbehörden der teilnehmenden Länder gemeinsam verantwortlich.
    </li>
    <li>
        Der Betrieb und der Datenaustausch des gemeinsam mit der Schweiz betriebenen
        Austausch-Servers ist in einer individuellen Vereinbarung des RKI mit der Schweiz geregelt,
        abrufbar unter <a
            href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Warn_App.html">
        https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Warn_App.html</a>.
        Danach erfolgt der technische Betrieb des Austausch-Servers durch das Bundesamt für
        Gesundheit der Schweizerischen Eidgenossenschaft. Für die Speicherung, Bereitstellung und
        spätere Löschung der Positiv-Listen ist das RKI gemeinsam mit dem Bundesamt für Gesundheit
        der Schweizerischen Eidgenossenschaft verantwortlich.
    </li>
</ul>
<p>
    Bitte beachten Sie, dass sich die Liste der teilnehmenden Länder ändern
    kann. Die aktuelle Liste mit Angaben zu den jeweils verantwortlichen
    Gesundheitsbehörden finden Sie in den FAQ: abrufbar unter
    https://www.coronawarn.app/de/faq/#interoperability_countries .
</p>
<h1>
    8. Welche Berechtigungen benötigt die App?
</h1>
<p>
    Die App benötigt Zugriff auf verschiedene Funktionen und Schnittstellen
    Ihres Smartphones. Dazu ist es erforderlich, dass Sie der App bestimmte
    Berechtigungen erteilen. Das Berechtigungssystem richtet sich nach den
    Vorgaben Ihres Betriebssystems. So können auf Ihrem Smartphone
    beispielsweise Einzelberechtigungen zu Berechtigungskategorien
    zusammengefasst sein, wobei Sie der Berechtigungskategorie nur insgesamt
    zustimmen können. Bitte beachten Sie, dass ohne die von der App
    angeforderten Berechtigungen keine oder nur wenige App-Funktionen genutzt
    werden können.
</p>
<h2>
    a. Technische Voraussetzungen (alle Smartphones)
</h2>
<ul>
    <li>
        Die App benötigt eine Internetverbindung, um mit dem Serversystem Daten
        austauschen zu können.
    </li>
    <li>
        Die Bluetooth-Funktion muss aktiviert sein, damit Ihr Smartphone eigene
        Zufalls-IDs aussenden und die Zufalls-IDs von anderen Smartphones
        aufzeichnen kann.
    </li>
    <li>
        Die App muss auf Ihrem Smartphone im Hintergrundbetrieb laufen können,
        um Ihr Ansteckungsrisiko automatisch zu ermitteln und den Status Ihres
        Tests abfragen zu können. Wenn Sie den Hintergrundbetrieb deaktivieren,
        müssen Sie alle Aktionen in der App selbst starten.
    </li>
</ul>
<h2>
    b. Android-Smartphones
</h2>
<p>
    Wenn Sie ein Android-Smartphone verwenden, müssen außerdem folgende
    Systemfunktionen aktiviert sein:
</p>
<ul>
    <li>
        Die Standortermittlung muss unter Android bis Version 10 aktiviert
        sein, damit Ihr Smartphone nach Bluetooth-Signalen anderer Smartphones
        sucht. Standortdaten werden dabei jedoch nicht erhoben.
    </li>
    <li>
        Um über Änderungen Ihres Ansteckungsrisikos und den Status von
        Testergebnissen benachrichtigt werden zu können, muss die
        Benachrichtigungsfunktion aktiviert sein. Die Benachrichtigungsfunktion
        ist im Betriebssystem standardmäßig aktiviert.
    </li>
</ul>
<p>
    Daneben benötigt die App folgende Berechtigungen:
</p>
<ul>
    <li>
        Die Funktion „Testergebnis abrufen“ benötigt Zugriff auf die Kamera, um
        den QR-Code scannen zu können.
    </li>
</ul>
<h1>
    9. Wann werden Ihre Daten gelöscht?
</h1>
<p>
    Die Speicherdauer richtet sich danach, für welche Zwecke bzw.
    App-Funktionen Ihre Daten jeweils gespeichert worden sind. Bei der
    Festlegung der Speicherdauer berücksichtigt das RKI die aktuellen
    wissenschaftlichen Erkenntnisse zur Inkubationszeit (Dauer von der
    Ansteckung bis zum Ausbruch der Krankheit), die bis zu 14 Tage beträgt und
    zur Dauer des Ansteckungsrisikos für Mitmenschen einer infizierten Person
    nach dem Ende der Inkubationszeit. Soweit unter Punkt 6 keine kürzere
    Speicherdauer genannt wird, gelten folgende Fristen:
</p>
<h2>
    a. Daten auf Ihrem Smartphone
</h2>
<p>
    Die Positiv-Listen werden nach 14 Tagen aus dem App-Speicher gelöscht. Das
    für Sie ermittelte Ansteckungsrisiko (z. B. „niedriges Risiko“) wird nach
    jeder Aktualisierung, spätestens aber nach 14 Tagen aus dem App-Speicher
    gelöscht. Sofern Sie ein positives Testergebnis abgerufen haben, wird das
    Token im App-Speicher gelöscht, sobald Sie eine Warnung auslösen. Die Einträge im
    Kontakt-Tagebuch bleiben für 16 Tage auf Ihrem Smartphone gespeichert und werden dann
    automatisch gelöscht. Sie können diese Einträge jederzeit auch vorzeitig selbst löschen.
</p>
<h2>
    b. Daten auf Serversystemen
</h2>
<p>
    Positiv-Listen werden nach 14 Tagen von allen Serversystemen (einschließlich dem
    Austausch-Server) gelöscht. Alle anderen Daten, mit Ausnahme der im Rahmen der Datenspende sowie
    zur Bestätigung der Echtheit Ihrer App übermittelten Daten, werden spätestens nach 21 Tagen
    gelöscht.
</p>
<h2>
    c. Datenspende
</h2>
<p>
    Nutzungsdaten und weitere freiwillige Angaben, die im Rahmen der Datenspende an das RKI
    übermittelt werden, werden nach 180 Tagen gelöscht.
</p>
<h2>
    d. Fehlerberichte
</h2>
<p>
    Sie können einen aufgezeichneten Fehlerbericht auf Ihrem Smartphone jederzeit löschen.
    Fehlerberichte, die Sie an den technischen Support übersandt haben, werden spätestens nach 14
    Tagen gelöscht.
</p>
<h2>
    e. Bestätigung der Echtheit Ihrer App
</h2>
<p>
    Die Kennungen, die Ihr Smartphone zur Bestätigung der Echtheit Ihrer App erzeugt, werden nach 30
    Tagen nach Übermittlung an das RKI vom Serversystemen gelöscht.
</p>
<h1>
    10. An wen werden Ihre Daten weitergegeben?
</h1>
<p>
    Wenn Sie andere Nutzer über die App warnen, werden Ihr Testergebnis (in Form Ihrer Zufalls-IDs
    der letzten 14 Tage) sowie optionale Angaben zum Symptombeginn an die jeweils verantwortlichen
    Gesundheitsbehörden der an den Austausch-Servern teilnehmenden Länder und von dort an die
    Serversysteme der an den länderübergreifenden Warnungen teilnehmenden Corona-Apps weitergegeben.
    Die Serversysteme der nationalen Corona-Apps verteilen diese Informationen dann als Bestandteil
    der Positiv-Listen an ihre jeweiligen eigenen Nutzer.
</p>
<p>
    Mit dem Betrieb und der Wartung des gemeinsam betriebenen Austausch-Servers der teilnehmenden
    EU-Länder haben die jeweils zuständigen nationalen Gesundheitsbehörden die EU-Kommission als
    Auftragsverarbeiter beauftragt. Der Austausch-Server für länderübergreifende Warnungen zwischen
    der Corona-Warn-App und der schweizerischen Corona-App wird vom Bundesamt für Gesundheit der
    Schweizerischen Eidgenossenschaft in Abstimmung mit dem RKI betrieben und gewartet.
</p>
<p>
    Mit dem Betrieb und der Wartung eines Teils der technischen Infrastruktur
    der App (z. B. Serversysteme, Hotline) hat das RKI die T-Systems
    International GmbH und die SAP Deutschland SE &amp; Co. KG beauftragt, die
    als Auftragsverarbeiter des RKI tätig werden. Diese Unternehmen sind von
    der EU-Kommission zudem als Unterauftragsverarbeiter mit der technischen
    Bereitstellung und Verwaltung des gemeinsam betriebenen Warnsystems der
    teilnehmenden Länder beauftragt. Im Übrigen gibt das RKI Ihre Daten, die im Zusammenhang mit der Nutzung der
    App erhoben werden, nur an Dritte weiter, soweit das RKI rechtlich dazu
    verpflichtet ist oder die Weitergabe im Falle von Angriffen auf die
    technische Infrastruktur der App zur Rechts- oder Strafverfolgung
    erforderlich ist. Eine Weitergabe durch das RKI in anderen Fällen erfolgt grundsätzlich
    nicht.
</p>
<h1>
    11. Werden Ihre Daten in Länder außerhalb der EU übermittelt?
</h1>
<p>
    Wenn Sie eine Warnung auslösen, werden Ihre Zufalls-IDs auch in die Schweiz zu dem vom RKI
    gemeinsam mit dem Bundesamt für Gesundheit der Schweizerischen Eidgenossenschaft betriebenen
    Austausch-Server übermittelt. Für die Schweiz hat die EU einen Angemessenheitsbeschluss
    erlassen, in dem die Angemessenheit des Datenschutzniveaus festgestellt wird (Art. 45 DSGVO).
    Daneben können die aktuellen Positiv-Listen unabhängig vom Aufenthaltsort des Nutzers (etwa im
    Urlaub oder auf Geschäftsreise) abgerufen werden. Zudem kann es im Rahmen der Bestätigung der
    Echtheit Ihrer App zu einer Übermittlung von Daten in ein Land außerhalb der EU kommen. Die von
    Ihrem Smartphone erzeugte Kennung, die Informationen über die Version Ihres Smartphones und der
    App enthält, wird an den Betriebssystemanbieter Ihres Smartphones (Apple oder Google)
    übermittelt. Dabei kann es auch zu einer Datenübermittlung in Drittländer, insbesondere in die
    USA, kommen. Dort besteht möglicherweise kein dem europäischen Recht entsprechendes
    Datenschutzniveau und Ihre europäischen Datenschutzrechte können eventuell nicht durchgesetzt
    werden. Insbesondere besteht die Möglichkeit, dass Sicherheitsbehörden im Drittland auf die
    übermittelten Daten beim Betriebssystemanbieter zugreifen und diese auswerten, beispielsweise
    indem sie Daten mit anderen Informationen verknüpfen. Dies betrifft jedoch nur die übermittelte
    Kennung. Weitere Angaben aus der App, beispielsweise Begegnungsdaten, sind davon nicht erfasst.
</p>
<p>
    Im Übrigen werden die von der App
    übermittelten Daten ausschließlich auf Servern in Deutschland oder in einem
    anderem Land in der EU (oder dem Europäischen Wirtschaftsraum) verarbeitet,
    die somit den strengen Anforderungen der Datenschutz-Grundverordnung
    (DSGVO) unterliegen.
</p>
<h1>
    12. Wie können Sie Ihr Einverständnis zurücknehmen?
</h1>
<p>
    Ihnen steht das Recht zu, ein in der App erteiltes Einverständnis gegenüber
    dem RKI jederzeit mit Wirkung für die Zukunft zurückzunehmen. Sofern die
    jeweilige Verarbeitung Ihrer Daten bereits durchgeführt worden ist, kann
    die Verarbeitung jedoch nicht mehr rückgängig gemacht werden. Insbesondere
    hat das RKI keine Möglichkeit, Ihre bereits an andere Nutzer übermittelten
    Zufalls-IDs von deren Smartphones zu löschen.
</p>
<h2>
    a. Einverständnis „Risiko-Ermittlung“
</h2>
<p>
    Ihr Einverständnis in die Risiko-Ermittlung können Sie jederzeit
    zurücknehmen, indem Sie diese Funktion in den Einstellungen der App
    deaktivieren oder die App löschen. Wenn Sie die Risiko-Ermittlung wieder
    nutzen möchten, können Sie die Funktion erneut aktivieren oder die App
    erneut installieren.
</p>
<h2>
    b. Einverständnis „Testergebnis abrufen“
</h2>
<p>
    Ihr Einverständnis zum Abruf des Testergebnisses durch die App können Sie
    zurücknehmen, indem Sie den Test in der App anzeigen und anschließend
    entfernen. Das Token zum Abruf des Testergebnisses wird dadurch aus dem
    App-Speicher gelöscht, sodass das Token auf dem Serversystem nicht mehr
    zugeordnet werden kann. Eine erneute Zuordnung des gleichen Tests zu Ihrer
    App bzw. der erneute Scan desselben QR-Codes ist nicht möglich. Wenn Sie
    erneut getestet wurden und das Testergebnis abrufen möchten, werden Sie
    erneut um Ihr Einverständnis gebeten. Liegt das Testergebnis bereits in der
    App vor, kann das Einverständnis nicht mehr zurückgenommen werden.
</p>
<h2>
    c. Einverständnis „Andere warnen“
</h2>
<p>
    Ihr Einverständnis zur Übermittlung Ihres Testergebnisses (genauer gesagt:
    Ihrer Zufalls-IDs der letzten Tage) zur Warnung Ihrer Mitmenschen können
    Sie zurücknehmen, indem Sie den Test anzeigen und anschließend „Andere
    warnen“ deaktivieren. Diese Möglichkeit besteht, solange Sie Ihre
    Zufalls-IDs noch nicht zur Warnung anderer Nutzer übermittelt haben.
</p>
<p>
    Nachdem Sie Ihre Zufalls-IDs übermittelt haben, können Sie Ihr
    Einverständnis nur zurücknehmen, indem Sie die App löschen. Ihre bereits an
    das Serversystem übermittelten Zufalls-IDs werden dadurch aus dem
    App-Speicher gelöscht und können dann nicht mehr Ihrer Person oder Ihrem
    Smartphone zugeordnet werden. Wenn Sie erneut eine Warnung auslösen
    möchten, müssen Sie die App erneut installieren und Ihr Einverständnis
    erneut abgeben. Ein Testergebnis, dass Ihrer App bereits zugeordnet und zur
    Warnung anderer übermittelt wurde, kann nicht erneut verwendet werden, um
    andere zu warnen.
</p>
<p>
    Das RKI hat keine Möglichkeit, um Ihre bereits übermittelten Zufalls-IDs
    und Übertragungsrisiko-Werte aus den vom Serversystem verteilten
    Positiv-Listen und von Smartphones der Nutzer zu löschen. Um auch Ihre im
    COVID-19-Benachrichtigungssystem Ihres Smartphones gespeicherten
    Begegnungsdaten zu löschen, können Sie in den Systemeinstellungen Ihres
    Smartphones möglicherweise eine manuelle Löschung vornehmen. Beachten Sie
    hierzu auch die Hinweise unter Punkt 5 b.
</p>
<h2>
    d. Einverständnis „Datenspende“
</h2>
<p>
    Sie können Ihr Einverständnis in die Datenspende jederzeit zurücknehmen, indem Sie „Daten
    spenden“ in den Einstellungen der App deaktivieren. Die App wird dann Ihre Nutzungsdaten und
    weiteren freiwilligen Angaben nicht weiter täglich an das RKI übermitteln. Wenn Sie die
    Datenspende wieder erlauben möchten, können Sie die Funktion in den Einstellungen erneut
    aktivieren.
</p>
<h2>
    e. Einverständnis „Fehlerberichte“
</h2>
<p>
    Ihr Einverständnis zur Analyse von bereits an das RKI übermittelten Fehlerberichten können Sie
    zurücknehmen, indem Sie dem technischen Support unter Nennung Ihrer Fehlerbericht-ID mitteilen,
    dass Sie die Analyse des Fehlerberichts nicht mehr wünschen. Ihr Fehlerbericht wird dann
    gelöscht. Bitte beachten Sie, dass das RKI dabei Ihre Identität erfahren kann. Wenn Sie dem
    technischen Support Ihre Fehlerbericht-ID nicht mitteilen, wird der übermittelte Fehlerbericht
    automatisch nach 14 Tagen gelöscht.
</p>
<h2>
    f. Einverständnis „Befragung“
</h2>
<p>
    Ihr Einverständnis zur Teilnahme an einer Befragung des RKI erteilen Sie nicht in der App,
    sondern über die Website, auf der auch die Befragung durchgeführt wird. Dort ist auch
    beschrieben, wie Sie Ihr Einverständnis zurücknehmen können.
</p>
<h2>
    g. Einverständnis „Bestätigung der Echtheit Ihrer App“
</h2>
<p>
    Wenn Sie Ihr Einverständnis zur Bestätigung der Echtheit Ihrer App zurücknehmen, hat dies keine
    direkte Auswirkung auf die damit zusammenhängende Datenverarbeitung. Die Übermittlung der von
    Ihrem Smartphone erzeugten Kennung an den Betriebssystemanbieter und die Überprüfung und
    Bestätigung der Echtheit Ihrer App findet unmittelbar statt, nachdem Sie Ihr Einverständnis
    erteilt haben.
</p>
<h1>
    13. Welche weiteren Datenschutzrechte haben Sie?
</h1>
<p>
    Soweit das RKI personenbezogene Daten von Ihnen verarbeitet, stehen Ihnen
    außerdem folgende Datenschutzrechte zu:
</p>
<ul>
    <li>
        die Rechte aus den Artikeln 15, 16, 17, 18, 20 und 21 DSGVO,
    </li>
    <li>
        das Recht, den behördlichen
        <a
                href="https://www.rki.de/DE/Content/Institut/OrgEinheiten/Datenschutz/Datenschutz_node.html"
        >
            Datenschutzbeauftragten des RKI
        </a>
        zu kontaktieren und Ihr Anliegen vorzubringen (Art. 38 Abs. 4 DSGVO)
        und
    </li>
    <li>
        das Recht, sich bei einer Aufsichtsbehörde für den Datenschutz zu
        beschweren. Dazu können Sie sich entweder an die zuständige
        Aufsichtsbehörde an Ihrem Wohnort oder an die für des RKI zuständige
        Behörde wenden. Die zuständige Aufsichtsbehörde für das RKI ist der
        Bundesbeauftragte für den Datenschutz und die Informationsfreiheit,
        Graurheindorfer Str. 153, 53117 Bonn.
    </li>
</ul>
<p>
    Diese Datenschutzrechte stehen Ihnen entsprechend auch gegenüber den für die Datenverarbeitung
    verantwortlichen Gesundheitsbehörden der an den Austausch-Servern teilnehmenden Länder zu,
    sofern Sie Ihre Zufalls-IDs der letzten Tage zur Warnung Ihrer Mitmenschen übermittelt haben
    (siehe Punkt 7).
</p>
<p>
    Bitte beachten Sie, dass die vorgenannten Datenschutzrechte nur erfüllt
    werden können, wenn die Daten, auf die sich die geltend gemachten Ansprüche
    beziehen, eindeutig Ihrer Person zugeordnet werden können. Dies wäre nur
    möglich, wenn über die App weitere personenbezogene Daten erhoben würden,
    die eine eindeutige Zuordnung der an das Serversystem übermittelten Daten
    zu Ihrer Person oder Ihrem Smartphone ermöglichen. Da dies für die Zwecke
    der App nicht erforderlich ist, ist das RKI zu einer solchen zusätzlichen
    Datenerhebung nicht verpflichtet (Art. 11 Abs. 2 DSGVO). Zudem würde dies
    dem erklärten Ziel zuwiderlaufen, so wenige Daten wie möglich zu erheben.
    Deshalb werden die vorgenannten Datenschutzrechte auch mit zusätzlich von
    Ihnen bereitgestellten Informationen zu Ihrer Identität in der Regel nicht
    erfüllt werden können.
</p>
<h1>
    14. Datenschutzbeauftragter und Kontakt
</h1>
<p>
    Fragen und Anliegen zum Datenschutz können Sie an den behördlichen
    Datenschutzbeauftragten des RKI senden: Robert Koch-Institut, z. H. des
    Datenschutzbeauftragten, Nordufer 20, 13353 Berlin oder per E-Mail an:
    datenschutz@rki.de.
</p>
<p>
    Stand: 24.03.2021
</p>
